/* Empty. Add your own CSS if you like */

.text-stable{
    color:white;
}
.product-list-view-item{
    padding-right:10px;
    padding-bottom:1px;
    min-height:64px;
}

.product-list-view-item-link, .list-view-item-link{
    text-decoration: none;
}

.list-view-item-link i{
    color:darkgrey;
}

.text-small{
    font-size: 10pt;
}
.text-grey{
    color:darkgray;
}